@font-face {
   font-family: thunder;
   src: url(/css/a_love_of_thunder.ttf);
}

body, html {
    background-color: #CA6924;
    /*background-image: url("/getgrillz_images/brick-wall.png");*/
    height: auto;
}

h1{

  font-family: thunder;
}

h2{

  font-family: thunder;
}

h3{

  font-family: thunder;
}

h4{

  font-family: thunder;
}

h5{

  font-family: thunder;
}

a:active {
    text-decoration: none;
    color: #CA6924;
}

/*////////////////////////////////////////////////////////FOR NAVBAR*/
    .navBarRow {
        background-color: #CA6924;
    }

    .navBarContainer {
        padding: 0;
        bottom: 0;
    }

    .navbarLogo {
        width:auto;
        height:68px;
    }

    .getGrillz {
        margin-left: 5px;
    }

    .noTextDecoration:hover {
        text-decoration: none;
        color: #1C1E1E;
    }

    .coloredAnchorTag {
        color: #FFF5EE;
    }

    .navBarStuff {
        padding-right: 20px;
    }

    .navBarListItems {
        padding-right: 20px;
    }

    #login {
        color: #FFF5EE;
    }

    #login:hover {
        cursor: pointer;
        color: #FFF5EE;
        color: #1C1E1E;
    }

    .loginModal {
        text-align: left;
    }

    .modal-header {
        background-color: #CA6924;
    }

/*////////////////////////////////////////////////////////FOR FOOTER*/
    .footerContainer > span {
        padding-top: 2vh;
    }

    .footer {
        background-color: #FFF5EE;
        text-align: center;
        /*width: 100%;
        height: auto;*/
    }

    .footerLinks {
        color: black;
    }

    .footerLinks:hover {
        color: #820000;
    }

/*////////////////////////////////////////////////////FOR HERO IMAGE*/
    .heroImg {
        width: 100%;
        height: auto;
    }

    .heroImgContainer {
        padding: 0;
        /*height: 720px;*/
        position:relative;
        text-align: center;
    }

    .heroImgContainer img {
        position:relative;
        z-index:0;
    }

    .overlay1 {
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        color: #F7F3E3;
        margin-top: 10%;
        width: 100%;
        font-size: 4em;
    }

    .overlay2 {
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        color: #F7F3E3;
        margin-top: 21%;
        width: 100%;
    }

/*//////////////////////////////////FOR BANNER IMAGES BELOW HERO IMG*/
    .bannerContainer {
        text-align: center;
        background-color: white;
    }

    .bannerHeader {
        margin-top: 0;
        margin-bottom: 2%;
    }

    .bannerImg1 {
        width: 50%;
        height: auto;
    }

    .bannerImg2 {
        width: 37%;
        height: auto;
        padding-bottom: 1%;
    }

    .bannerImg3 {
        width: 50%;
        height: auto;
    }

/*////////////////////////////////////////////FOR RENT OR BUY BANNER*/
    .rentOrBuyImg1 {
        width: 50%;
        height: auto;
        display: inline-block;
    }

    .rentOrBuyImg2 {
        width: 50%;
        height: auto;
        display: inline-block;
        float: right;
    }

    .rentButton {
        width: 300px;
        height: 50px;
        margin-top: 18%;
        margin-left: 20%;
        background-color: #CA6924;
        position: absolute;
        font-family: thunder;
    }

    .rentButton:hover {
        background-color: #C23B22
    }

    .buyButton {
        width: 300px;
        height: 53px;
        margin-top: 8%;
        margin-left: 20%;
        background-color: #CA6924;
        position: absolute;
        font-family: thunder;
    }

    .buyButton:hover {
        background-color: #C23B22;
    }

    /*Positions "Rent" text in the middle of the button*/
    body > div:nth-child(2) > div:nth-child(3) > figure:nth-child(1) > div > div > a {
        margin-top: -3%;
        text-decoration: none;
    }

    body > div:nth-child(2) > div:nth-child(3) > figure:nth-child(2) > div > div > a {
        margin-top: -2%;
        text-decoration: none;
    }

    .getStartedButton {
        width: 100%;
        height: 53px;
        margin-top: 10%;
        background-color: #CA6924;
        font-family: thunder;
        text-align: center;
    }

    figure.snip0014 {
      color: #fff;
      position: relative;
      float: left;
      overflow: hidden;
      min-width: 220px;
      max-width: 50%;
      max-height: auto;
      width: 100%;
      background: #000000;
      text-align: center;
    }
    figure.snip0014 * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    figure.snip0014 img {
      max-width: 100%;
      opacity: 1;
      width: 100%;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;
    }
    figure.snip0014 figcaption {
      font-size: 1.25em;
    }
    figure.snip0014 > div {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 3em 3em;
      width: 100%;
      height: 100%;
    }
    figure.snip0014 > div::before {
      position: absolute;
      top: 30px;
      right: 50%;
      bottom: 30px;
      left: 50%;
      border-left: 1px solid rgba(255, 255, 255, 0.8);
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      content: '';
      opacity: 0;
      background-color: #ffffff;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
    }
    figure.snip0014 h2,
    figure.snip0014 p,
    figure.snip0014 hr {
      margin: 0 0 5px;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
    }
    figure.snip0014 h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      text-transform: uppercase;
      -webkit-transform: translate3d(0%, 100%, 0);
      transform: translate3d(0%, 100%, 0);
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    figure.snip0014 h2 span {
      font-weight: 800;
    }
    figure.snip0014 p {
      font-weight: 200;
      font-size: 1.5em;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    figure.snip0014 a {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      color: #ffffff;
    }
    figure.snip0014:hover img {
      opacity: 0.35;
    }
    figure.snip0014:hover > div h2 {
      opacity: 1;
      -webkit-transform: translate3d(0%, 0%, 0);
      transform: translate3d(0%, 0%, 0);
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    figure.snip0014:hover > div p {
      opacity: 0.8;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
    }
    figure.snip0014:hover > div hr {
      opacity: 0.8;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
    }
    figure.snip0014:hover > div::before {
      background: rgba(255, 255, 255, 0);
      left: 30px;
      right: 30px;
      opacity: 1;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }

/*///////////////////////////////////////////////FOR YOUR ORDER PAGE*/
    .heroDiv {
        width: 100%;
        height: 100%;
        background-color: #cfcfc4;
        /*background-image: url("/getgrillz_images/brick-wall.png");*/
    }

    .rentA {
        font-size: 9.5em;
    }

    .grill {
        font-size: 15em;
        letter-spacing: 10px;
    }

    .rentDescription {
        text-align: center;
    }

    .rentDescriptionPicture {
        width: 90%;
        height: auto;
        margin-top: 6%;
    }

    .rentCaption {
        font-size: 2em;
        text-align: justify;
        margin-left: 30px;
        width: 535px;
    }

/*///////////FOR LOOKING FOR A SPECIFIC DAY OR JUST BROWSING SECTION*/
    .pickADate {
        width: 50%;
        height: 50vh;
        background-color: #1C1E1E;
        text-align: center;
        font-family: thunder;
    }

    .pickADateButton {
        width: 300px;
        height: 53px;
        background-color: #7B2D26;
        border-color: #1C1E1E;
        color: #F7F3E3;
        margin-top: 25%;
        font-family: thunder;
    }

    .justBrowsing {
        width: 50%;
        height: 50vh;
        background-color: #262B2F;
        text-align: center;
        font-family: thunder;
    }

    .justBrowsingButton {
        width: 300px;
        height: 53px;
        background-color: #7B2D26;
        border-color: #262B2F;
        color: #F7F3E3;
        margin-top: 25%;
        font-family: thunder;
    }

/*/////////////////////////////////////////FOR DROP CALENDER SECTION*/
    .calenderDiv {
        display: none;
        text-align: center;
    }

    .calender {
        width: 50%;
        height: 40vh;
        /*height: 120vh;*/
        background-color: #7B2D26;
        font-family: thunder;
    }

    .calender > h2 {
        color: #F7F3E3;
    }

    .selectingADay {
        border-right-style: solid;
    }

    .dateButton {
        width: 300px;
        height: 70px;
        background-color: #CA6924;
        margin-top: 15%;
        font-family: thunder;
    }

    .dateInputDiv {
        margin-top: 30px;
    }

    .dateInput {
        text-align: center;
    }

    .selectingADayDiv {
        display: none;
    }

    .selectingMultipleDiv {
        display: none;
    }

    .customCalenderButton {
        background-color: #CA6924;
        color: #FFF5EE;
    }

/*///////////////////////////////////////////FOR CHARCOAL OR PROPANE*/
    .whatTypeOfGrill {
        text-align: center;
        background-color: #D7C9AA;
    }

    .charcoalDiv {
        width: 50%;
        height: 50vh;
        background-color: #D7C9AA;
        text-align: center;
    }

    .charcoalButton {
        width: 500px;
        height: 70px;
        background-color: #CA6924;
        margin-top: 25%;
        font-family: thunder;
    }

    .charcoalText {
        margin-top: 4%;
    }

    .propaneDiv {
        width: 50%;
        height: 50vh;
        background-color: #D7C9AA;
        text-align: center;
    }

    .propaneButton {
        width: 500px;
        height: 70px;
        background-color: #CA6924;
        margin-top: 25%;
        font-family: thunder;
    }

    .propaneText {
        margin-top: 4%;
    }

/*/////////////////////////////////////////FOR SIZE OF GRILL SECTION*/
    .whatSizeOfGrill {
        text-align: center;
        background-color: #3bbad7;
    }

    .sizeButtonDiv {
        height: 50vh;
        background-color: #1C1E1E;
        color: #F7F3E3;
        text-align: center;
    }

    .sizeButton {
        width: 300px;
        height: 70px;
        background-color: #CA6924;
        margin-top: 15%;
        font-family: thunder;
    }

    .sizeButtonText {
        margin-top: 8%;
    }

    .imNotSureButton {
        width: 800px;
        background-color: #CA6924;
        margin-top: 5%;
        font-family: thunder;
    }

/*////////////////////////////////////////////////////FOR ITEMS PAGE*/
    .coloredText {
        color: #FFF5EE;
    }

/*/////////////////////////////////////////////////FOR CHECKOUT PAGE*/
    .forgettingSomething {
        text-align: center;
        background-color: #1C1E1E;
        color: #fff5ee;
    }

    .quantityField {
        text-align: center;
    }

    /*////////////////////////////////////////////FOR GRILL SUPPLIES*/
        .grillSupplies {
            width: 50%;
            height: 30vh;
            background-color: #1C1E1E;
            text-align: center;
        }

        .grillSuppliesText {
            margin-top: 4%;
        }

        .grillSuppliesButton {
            width: 500px;
            height: 70px;
            background-color: #CA6924;
            margin-top: 10%;
        }

        .grillSuppliesChecklist {
            width: 100%;
            height: 72vh;
            background-color: #7B2D26;
            color: #F7F3E3;
            display: none;
        }

        .grillSuppliesCheckboxes {
            text-align: center;
        }

    /*////////////////////////////////////////////FOR PARTY SUPPLIES*/
        .partySupplies {
            width: 50%;
            height: 30vh;
            background-color: #1C1E1E;
            text-align: center;
        }

        .partySuppliesText {
            margin-top: 4%;
        }

        .partySuppliesButton {
            width: 500px;
            height: 70px;
            background-color: #CA6924;
            margin-top: 10%;
        }

        .partySuppliesChecklist {
            width: 100%;
            height: 72vh;
            background-color: #262B2F;
            color: #F7F3E3;
            display: none;
        }


        .partySuppliesCheckboxes {
            text-align: center;
        }

        /*///////////FOR PARTY/GRILL SUPPLIES AND YOUR ORDER PREVIEW*/
        .addToOrderButtonDiv {
            text-align: center;
        }

        .addToOrderButton {
            width: 800px;
            background-color: #CA6924;
            margin-top: 2%;
        }

        .tableHeader {
            border-top-style: solid;
            border-bottom-style: solid;
            border-color: black;
        }

        .headerPadding {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        /*////////////////////////////////////FOR YOUR ORDER PREVIEW*/
        .yourOrderDiv {
            width: 100%;
            height: 65vh;
            background-color: #D7C9AA;
        }

        .yourOrderCheckboxes {
            text-align: center;
        }

        .orderTotal {
            border-top-style: solid;
            text-align: right;
        }

        .yourOrderButtonContainer {
            text-align: center;
        }

        .updateCartButton {
            width: 500px;
            background-color: #CA6924;
            margin-top: 2%;
        }

        .checkoutButton {
            width: 500px;
            background-color: #CA6924;
            margin-top: 2%;
        }
/*////////////////////////////////////////////FOR CONFIRM ORDER PAGE*/
    .takeMeBackDiv {
        width: 100%;
        height: 15vh;
        background-color: #1C1E1E;
        text-align: center;
    }

    .takeMeBackButton {
        margin-top: 25px;
        width: 80%;
    }

    .takeMeBackButtonText {
        color: black;
    }

    .loginOrRegisterDiv {
        width: 100%;
        height: 10vh;
        background-color: #D7C9AA;
    }

    .loginOrRegister {
        text-align: center;
    }

    .enterEmailDiv {
        width: 100%;
        height: 42vh;
        background-color: #D7C9AA;
        padding-left: 20%;
    }

    .continueButton {
        width: 60%;
        margin-left: 20%;
    }

    .password {
        display: none;
    }

    .confirmPassword {
        display: none;
    }

    .addressDiv {
        width: 100%;
        height: 10vh;
        background-color: #7B2D26;
        color: #F7F3E3;
    }

    .whereDeliver {
        text-align: center;
        border-top-style: solid;
        padding-top: 10px;
    }

    .selectAddressDiv {
        text-align: center;
        border-right-style: solid;
        border-bottom-style: solid;
        background-color: #7B2D26;
        color: #F7F3E3;
    }

    .enterAddressDiv {
        text-align: center;
        border-bottom-style: solid;
        background-color: #7B2D26;
        color: #F7F3E3;
    }

    .mapDiv {
        width: 50%;
        height: 82vh;
        border-right-style: solid;
        background-color: #7B2D26;
        color: #F7F3E3;
    }

    .map {
        margin-top: 20px;
        height: 500px;
        width: 100%;
        background-color: #262B2F;
    }

    .addressFieldsDiv {
        width: 50%;
        height: 82vh;
        background-color: #7B2D26;
        color: #F7F3E3;
    }

    .zipInput {
        width: 20%;
    }

    .stateInput {
        width: 8%;
    }

    .showOnMapButton {
        width: 100%;
        background-color: #262B2F;
        color: #F7F3E3;
        border-color: transparent;
    }

    .chevron-down {
        float: right;
        font-size: 3em;
        position: absolute;
        bottom: 0;
    }

    .yourOrderConfirmDiv {
        width: 100%;
        height: 65vh;
        background-color: #D7C9AA;
    }

/*///////////////////////////////////////////////////////FOR PAYMENT*/
    .modal-body-colored {

    }

    @media screen and (min-width: 981px) {
    html {
    font-size: 10px;
    }
    }
    @media screen and (min-width: 641px) and (max-width: 980px) {
    html {
    font-size: 8px;
    }
    }
    @media screen and (max-width: 640px) {
    html {
    font-size: 7px;
    }
    }
    .demo {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .demo__button {
    width: 200px;
    display: block;
    margin: 20px auto 0;
    background-color: #eee;
    transition: background-color 0.4s ease-out;
    border: 1px solid #a29e97;
    cursor: pointer;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #000;
    }
    .demo__button:hover,
    .demo__button:focus {
    background-color: #a29e97;
    color: #ffffff;
    }
    .melnik909 {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    }
    .melnik909:hover,
    .melnik909:focus {
    text-decoration: underline;
    }
    /*
    * CSS Payment Card
    */
    .payment-card {
    width: 60rem;
    box-sizing: border-box;
    padding: 2% 2% 4%;
    }
    .bank-card {
    position: relative;
    height: 30rem;
    font-family: arial, sans-serif;
    }
    .bank-card__side {
    width: 65%;
    position: absolute;
    border-radius: 10px;
    border-width: 0.16666667rem;
    border-style: solid;
    }
    .bank-card__front {
    background-color: #f0f0ee;
    padding: 5%;
    box-shadow: 0 0 10px #f4f4f2;
    border-color: #a29e97;
    top: 0;
    left: 0;
    z-index: 2;
    }
    .bank-card__back {
    background-color: #e0ddd7;
    padding: 24.5% 5% 11%;
    box-shadow: 0 0 2rem #f3f3f3;
    text-align: right;
    border-color: #dad9d6;
    top: 12%;
    right: 0;
    }
    .bank-card__back:before {
    content: "";
    width: 100%;
    height: 25%;
    background-color: #8e8b85;
    position: absolute;
    top: 14%;
    right: 0;
    }
    .bank-card__icon {
    display: block;
    width: 12%;
    height: 12%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15%;
    }
    .bank-card__icon_mastercard {
    background-image: url("/getgrillz_images/mastercard.svg");
    right: 15%;
    }
    .bank-card__icon_visa {
    background-image: url("/getgrillz_images/visa.svg");
    right: 5%;
    }
    .bank-card__inner {
    margin-bottom: 4%;
    }
    .bank-card__inner:last-child {
    margin-bottom: 0;
    }
    .bank-card__label {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    }
    .bank-card__label_fullwidth {
    width: 100%;
    }
    .bank-card__hint {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    }
    .bank-card__caption {
    text-transform: uppercase;
    font-size: 1.09090909rem;
    margin-left: 1%;
    }
    .bank-card__field {
    box-sizing: border-box;
    border: 0.33333333rem solid #d0d0ce;
    outline: none;
    width: 100%;
    padding: .7em;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
    }
    .bank-card__field:focus {
    border-color: #fdde60;
    }
    @media screen and (max-width: 640px) {
    .bank-card__field {
    font-size: 1.2rem;
    }
    }
    .bank-card__separator {
    font-size: 3.33333333rem;
    color: #c4c4c3;
    padding-left: 4%;
    padding-right: 4%;
    display: inline-block;
    vertical-align: middle;
    }

/*FOR YOUR ORDERS*/
    .yourOrdersDiv {
        /*width: 100%;*/
        height: 100vh;
        background-color: #FFF5EE;
    }

    .yourOrdersText {
        border-bottom-style: solid;
    }

    .yourOrdersh1 {
    }

    .yourOrdersTableHeader {
        /*border-bottom-style: solid;
        border-color: #333333;*/
    }

    .yourOrdersTable {
        background-color: #FFF5EE;
        padding: 0;
    }

    .centeredTableText {
        text-align: center;
    }

/*FOR FAQ/CONTACT PAGE*/
    .faqContainer {
        background-color: #FFF5EE;
        height: 110vh;
    }

    .faqHeader {
        border-bottom-style: solid;
    }

    .faqQuestion {
        background-color: #CA6924;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .faqAnswer {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
    }

    #faqAnswer1 {
        display: none;
    }

    #faqAnswer2 {
        display: none;
    }

    #faqAnswer3 {
        display: none;
    }

    #faqAnswer4 {
        display: none;
    }

/*FOR THANK YOU PAGE*/
.burger{
  position:relative;
  margin:0 auto;
  width: 635px;
  height: 600px;
  z-index:100;
}
.transp{
  opacity:0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  cursor: pointer;
}

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      .burger{
        width: 635px;
        height: 655px;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 600px) {
      .burger{
        width: 385px;
        height: 525px;
      }
      .seed{
        width: 8px;
        height: 8px;
      }
    }
.bun{
  width: 345px;
  height: 220px;
  left: 130px;
  position: absolute;
  border-radius: 47%;
  left: 130px;
}
.bun.top{
  background: -webkit-linear-gradient(top, #9A5D11, #CC8021);
  background: -o-linear-gradient(top, #9A5D11, #CC8021);
  background: -moz-linear-gradient(top, #9A5D11, ##CC8021);
  background: linear-gradient(top, #9A5D11, #CC8021);
  box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset -5px -20px 19px #f6ecca, inset -5px -38px 64px #f6ecca;
  z-index: 1000;
}
.bun.top.open{
  top: -10px !important;
}
.bun.top.closed{
  top: 62px;
}
.bun.bottom{
  background-color: #f6ecca;
  box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -28px 35px #9A5D11 ,inset -30px -40px 15px rgba(255,255,255,0.6);
  z-index:100;
}
.bun.bottom.open{
  top: 445px !important;
}
.bun.bottom.closed{
  top: 320px;
}
.seed{
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border-top-left-radius: 0;
  position: absolute;
}

.sesame{
    background-color: #e7d8c5;
}
  .sesame.one{
    transform: rotate(105deg);
    top: 45%;
    left: 15%;
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 0px 2px 3px rgba(0,0,0,0.4), 1px -2px 3px rgba(0,0,0,0.3);
  }
  .sesame.two{
    transform: rotate(130deg);
    top: 25%;
    right: 10%;
    box-shadow: inset 0px 5px 8px rgba(0,0,0,0.2), inset 0px 1px 3px rgba(0,0,0,0.4), 0px -2px 3px rgba(0,0,0,0.3);
  }
  .sesame.three{
    transform: rotate(-80deg);
    top: 35%;
    right: 23%;
    box-shadow: inset 0px 4px 8px rgba(0,0,0,0.2), inset 1px -2px 2px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.four{
    transform: rotate(75deg);
    top: 31%;
    right: 35%;
    box-shadow: inset 0px 3px 8px rgba(0,0,0,0.2), inset -2px 1px 2px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.five{
    transform: rotate(-100deg);
    top: 46%;
    left: 45%;
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 0px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.six{
    transform: rotate(110deg);
    top: 17%;
    left: 41%;
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset -2px 1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.seven{
    transform: rotate(-50deg);
    top: 20%;
    right: 23%;
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 0px -1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.eight{
    transform: rotate(-151deg);
    top: 33%;
    left: 50%;
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.nine{
    transform: rotate(191deg);
    top: 27%;
    right: 16%;
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 1px 2px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.ten{
    transform: rotate(-15deg);
    top: 20%;
    left: 50%;
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 0px -1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.eleven{
    top: 55%;
    left: 57%;
    transform: rotate(15deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 0px -1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.twelve{
    top: 34%;
    left: 30%;
    transform: rotate(-158deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 1px 2px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.thirteen{
    top: 40%;
    right: 8%;
    transform: rotate(15deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 0px -1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.fourteen{
    top: 33%;
    left: 7%;
    transform: rotate(-105deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 0px -1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.fiveteen{
    top: 44%;
    left: 26%;
    transform: rotate(174deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 1px 2px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.sixteen{
    top: 15%;
    left: 24%;
    transform: rotate(174deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 2px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.seventeen{
    top: 30%;
    left: 22%;
    transform: rotate(174deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.eighteen{
    top: 30%;
    left: 43%;
    transform: rotate(160deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 1px 2px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.nineteen{
    top: 40%;
    right: 40%;
    transform: rotate(174deg);
    box-shadow: inset -2px 2px 8px rgba(0,0,0,0.2), inset 1px 0px 4px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.twenty{
    top: 13%;
    right: 34%;
    transform: rotate(174deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 0px -1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.twentyone{
    top: 9%;
    left: 53%;
    transform: rotate(174deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 2px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.twentytwo{
    top: 26%;
    left: 37%;
    transform: rotate(174deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.twentythree{
    top: 25%;
    left: 30%;
    transform: rotate(174deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 2px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.twentyfour{
    top: 48%;
    right: 31%;
    transform: rotate(174deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 1px 2px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.twentyfive{
    top: 9%;
    left: 34%;
    transform: rotate(174deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 2px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
  }
  .sesame.twentysix{
    transform: rotate(174deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
    top: 10%;
    left: 45%;
  }
  .sesame.twentyseven{
    transform: rotate(235deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 0px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
    top: 20%;
    left: 16%;
  }
  .sesame.twentyeight{
    transform: rotate(-59deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 1px -2px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
    top: 36%;
    left: 65%;
  }
  .sesame.twentynine{
    transform: rotate(217deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 1px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
    top: 38%;
    right: 30%;
  }
  .sesame.thirty{
    transform: rotate(210deg);
    box-shadow: inset 0px -1px 8px rgba(0,0,0,0.2), inset 2px 0px 3px rgba(0,0,0,0.4), 1px 1px 3px rgba(0,0,0,0.3);
    top: 20%;
    left: 57%;
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .bun{
      width: 345px;
      height: 220px;
      left: 130px;
    }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 600px) {
    .bun{
      width: 235px;
      height: 140px;
      left: 60px;
    }
    .bun.top.closed{
      top: 68px;
    }
    .bun.bottom.closed{
      top: 290px;
    }
    .seed{
      width: 8px;
      height: 8px;
    }
  }
.bacon{
  width: 240px;
  height: 330px;
  left: 195px;
  position: absolute;
  z-index: 600;
  -ms-transform: rotateX(65deg) rotateY(0deg) rotate(100deg);
  -webkit-transform: rotateX(65deg) rotateY(0deg) rotate(100deg);
  transform: rotateX(65deg) rotateY(0deg) rotate(100deg);
}
.bacon.closed{
  top: 145px;
}
.bacon.open{
  top: 215px !important;
}
.baconslice{
  width: 50%;
  height: 100%;
  top:20px;
  background: -webkit-linear-gradient(to right, #FF6677,#920403);
  background: -o-linear-gradient(to right, #FF6677,#920403);
  background: -moz-linear-gradient(to right, #FF6677,#920403);
  background: linear-gradient(to right, #FF6677,#920403);
  border-radius: 10% / 45%;
  overflow:hidden;
  position:absolute;
  -webkit-box-shadow: inset -25px 0px 36px rgb(241,149,88);
  -moz-box-shadow: inset -25px 0px 36px rgb(241,149,88);
  box-shadow: inset -25px 0px 36px rgb(241,149,88);
}
.fat{
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
}
.fat:nth-child(1){
  width: 18%;
  position: absolute;
  right: 57%;
}
.fat:nth-child(2){
  width: 4%;
  position: absolute;
  right: 49%;
}
.fat:nth-child(3){
  width: 43%;
  position: absolute;
  right: -10%;
  -webkit-box-shadow: inset 1px 1px 1px rgb(241,149,88);
  -moz-box-shadow: inset 1px 1px 1px rgb(241,149,88);
  box-shadow: inset 1px 1px 1px rgb(241,149,88);
}
.baconslice.one{
  left: 95px;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotate(30deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotate(30deg);
  transform: rotateX(0deg) rotateY(0deg) rotate(30deg);
}
.baconslice.two{
  left: 80px;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotate(-30deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotate(-30deg);
  transform: rotateX(0deg) rotateY(0deg) rotate(-30deg);
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
  .bacon {
    width: 120px;
    height: 215px;
    left: 135px;
  }
  .bacon.open{
    top: 200px !important;
  }
  .bacon.closed {
    top: 150px;
  }
  .baconslice.one {
    left: 38px;
  }
  .baconslice.two {
    left: 25px;
  }
}
.avocado{
  position: absolute;
  z-index: 500;
  left: 327px;
  z-index: 900;
}
.avocado.open{
  top: 105px !important;
}
.avocado.closed{
  top: 165px;
}
.avocadoslice{
  width: 100px;
  height: 250px;
  overflow: hidden;
  position:absolute;
}
.avocadoslice.one{
  -webkit-transform: rotateX(43deg) rotateY(176deg) rotate(-40deg);
  -moz-transform: rotateX(43deg) rotateY(176deg) rotate(-40deg);
  transform: rotateX(43deg) rotateY(176deg) rotate(-40deg);
  top: -23px;
  left: 18px;
}
.avocadoslice.two{
  -webkit-transform: rotateX(43deg) rotateY(176deg) rotate(-40deg);
  -moz-transform: rotateX(43deg) rotateY(176deg) rotate(-40deg);
  transform: rotateX(-50deg) rotateY(0deg) rotate(20deg);
  top: -70px;
  left: -137px;
}
.avocadoslice.three{
  -webkit-transform: rotateX(-43deg) rotateY(198deg) rotate(20deg);
  -moz-transform: rotateX(-43deg) rotateY(198deg) rotate(20deg);
  transform: rotateX(-43deg) rotateY(198deg) rotate(20deg);
  top: -61px;
  left: -108px;
}
.avocadohalfslice{
  background: radial-gradient(at 50% 57%, transparent 26%, #fefecb 28%, #f2f992 38%, #8cbf6d 66%, #164825 80%);
  border: 2px solid #164825;
  width: 200%;
  height: 100%;
  position: relative;
  border-radius: 70% 70% 69% 69% / 100% 100% 40% 40%;
  -webkit-box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -6px 20px rgba(22, 72, 37, 0.7), 0px 2px 9px rgba(22, 72, 37, 0.7);
  -moz-box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -6px 20px rgba(22, 72, 37, 0.7), 0px 2px 9px rgba(22, 72, 37, 0.7);
  box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -6px 20px rgba(22, 72, 37, 0.7), 0px 2px 9px rgba(22, 72, 37, 0.7);
}

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 600px) {
    .avocado{
      left: 214px;
    }
    .avocado.closed{
      top: 155px;
    }
    /*.avocado.open{
      top: 105px !important;
    }*/
    .avocadoslice {
      width: 60px;
      height: 150px;
    }
    .avocadoslice.one {
      top: -50px;
      left: -12px;
    }
    .avocadoslice.two {
      top: -70px;
      left: -125px;
    }
    .avocadoslice.three {
      top: -65px;
      left: -85px;
    }
  }
.tomatoe{
  background: #E2644D;
  border: 2px solid #DA0021;
  width: 328px;
  height: 180px;
  left: 134px;
  position: absolute;
  border-radius: 47%;
  box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -32px 35px #DA0021;
  z-index: 300;
}
.tomatoe.open{
  top: 390px !important;
}
.tomatoe.closed{
  top: 298px;
}
.tomatoeslice{
  width: 94%;
  height: 164%;
  border-radius: 100%;
  background: #E2644D;
  border: 10px solid #DA0021;
  position: absolute;
  transform: rotateX(58deg);
  top: -42%;
  left: 0;
}
.tomatoecuarter{
  width: 36%;
  height: 36%;
  position: absolute;
  background: #DA0021;
  -moz-border-radius: 25% 100% 25% 25%;
  -webkit-border-radius: 25% 100% 25% 25%;
  border-radius: 25% 100% 25% 25%;
}
.tomatoecuarter.one{
  transform: rotate(-90deg);
  top: 11%;
  left: 11%;
}
.tomatoecuarter.two{
  transform: rotate(0deg);
  top:11%;
  right:11%;
}
.tomatoecuarter.three{
  transform: rotate(180deg);
  left:11%;
  bottom:11%;
}
.tomatoecuarter.four{
  transform: rotate(90deg);
  right:11%;
  bottom:11%;
}
.tomatoeseed{
  width: 14%;
  height: 15%;
  background-color: #f4b52a;
  z-index:120;
}
.tomatoeseed.one{
  transform: rotate(278deg);
  bottom: 8%;
  left: 31%;
}
.tomatoeseed.two{
  transform: rotate(256deg);
  bottom: 28%;
  left: 24%;
}
.tomatoeseed.three{
  transform: rotate(254deg);
  bottom: 28%;
  left: 5%;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
  .tomatoe{
    width: 228px;
    height: 114px;
    left: 65px;
  }
  .tomatoe.open{
    top: 370px !important;
  }
  .tomatoe.closed{
    top: 255px;
  }
  .tomatoeslice {
    width: 92%;
    height: 160%;
    top: -45%;
  }
  .tomatoecuarter {
    width: 32%;
    height: 37%;
  }
  .tomatoecuarter.one {
    top: 9%;
    left: 15%;
  }
  .tomatoecuarter.two {
    top: 9%;
    right: 15%;
  }
  .tomatoecuarter.three {
    left: 15%;
    bottom: 10%;
  }
  .tomatoecuarter.four {
    right: 15%;
    bottom: 10%;
  }
  .tomatoe .seed {
    width: 7px;
    height: 7px;
  }
}
.onion{
  background: #fff;
  border: 2px solid #4f0816;
  width: 310px;
  height: 170px;
  left: 147px;
  position: absolute;
  border-radius: 47%;
  -webkit-box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -32px 35px #4f0816;
  -moz-box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -32px 35px #4f0816;
  box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -32px 35px #4f0816;
  z-index: 700;
}
.onion.closed{
  top: 199px;
}
.onion.open{
  top: 225px !important;
}
.onionslice{
  width: 98.5%;
  height: 154.5%;
  border-radius: 100%;
  background: radial-gradient(rgba(255,255,255,0.4) 50%, #4f0816 100%);
  border: 3px solid #4f0816;
  transform: rotateX(54deg);
  position: relative;
  top: -34%;
  left: 0%;
}
.onionring{
  width: 88%;
  height: 88%;
  border-radius: 100%;
  background: transparent;
  border: 3px solid #4f0816;
  -webkit-box-shadow: 3px 2px 25px rgba(79, 8, 22, 0.6);
  -moz-box-shadow: 3px 2px 25px rgba(79, 8, 22, 0.6);
  box-shadow: 3px 2px 25px rgba(79, 8, 22, 0.6);
  position:relative;
  top: 4%;
  margin:auto;
}
.onionheart{
  border: 0;
  box-shadow: 0px 0px 0px;
  background: radial-gradient(#ddab54 17%, #fff 71%);
}
  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 600px) {
    .onion {
      width: 228px;
      height: 120px;
      left: 63px;
    }
    .onion.closed {
      top: 155px;
    }
    .onion.open{
      top: 165px !important;
    }
  }
.meat{
  width: 335px;
  height: 190px;
  left: 134px;
  position: relative;
  border-radius: 47%;
  z-index:400;
  position:absolute;
}
.meat.open{
  top: 325px !important;
}
.meat.closed{
  top: 253px;
}
  .meat.beef{
    box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -27px 35px #412321;
    background: #853c1c;
    border: 2px solid #412321;
  }
.meatslice{
  width: 97%;
  height: 133%;
  border-radius: 73%;
  position: absolute;
  transform: rotateX(55deg);
  top: -26%;
  left: 1%;
  overflow: hidden;
}
.meatslice .grill{
  width: 103%;
  height: 14%;
  display: inline-block;
  position: relative;
  left: -1%;
  top: 3%;
  margin-top: 8%;
}
  .beef .grill{
    background-image: radial-gradient(#412321, #853C1C);
  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 600px) {
    .meat{
      width: 230px;
      height: 132px;
      left: 64px;
    }
    .meat.open{
      top: 300px !important;
    }
    .meat.closed {
      top: 205px;
    }
  }
.lettuce{
  width: 244px;
  height: 355px;
  left: 170px;
  position: absolute;
  transform: rotateX(-38deg) rotateY(-7deg) rotate(66deg);
  z-index: 200;
}
.lettuce.open{
  top: 335px !important;
}
.lettuce.closed{
  top: 217px;
}
  .lettuce .leaf{
    height: 100%;
    width: 46%;
    position: absolute;
    border-radius: 30% 30% 30% 70%;
  }
  .lettuce .leaf:nth-child(4){
    background-color: #81c443;
    left: 6%;
  }
  .lettuce .leaf:nth-child(3){
    transform: rotateY(180deg);
    right:6%;
    background-color: #c9d92e;
  }
  .lettuce .leaf:nth-child(2){
    transform: rotate(-6deg);
    background-color: #127b43;
    left: 0%;
    top: 2%;
  }
  .lettuce .leaf:nth-child(1){
    transform: rotate(6deg) rotateY(180deg);
    right:0%;
    top: 2%;
    background-color: #279c4b;
  }
    .lettuce .leaf span{
      width: 60%;
      padding-bottom: 65%;
      background-color: inherit;
      display: inline-block;
      border-radius: 100%;
      position: absolute;
    }
    .lettuce .leaf span:nth-child(1){
      top: -2%;
      left: 41%;
    }
    .lettuce .leaf span:nth-child(2){
      top: -3%;
      left: 14%;
    }
    .lettuce .leaf span:nth-child(3){
      top: 5%;
      left: -10%;
    }
    .lettuce .leaf span:nth-child(4){
      top: 21%;
      left: -13%;
    }
    .lettuce .leaf span:nth-child(5){
      top: 36%;
      left: -7%;
    }
  .lettuce .trunk{
    width: 26%;
    height: 73%;
    position: absolute;
    left: 38%;
    bottom: -2%;
  }
    .lettuce .trunkhalf{
      width: 50%;
      height: 100%;
      overflow: hidden;
      position:absolute;
    }
      .lettuce .trunkhalf:nth-child(1){
        left:0;
      }
      .lettuce .trunkhalf:nth-child(2){
        transform:rotateY(180deg);
        right:0;
      }
      .lettuce .trunkhalf span{
        background-color: #ffef8f;
        width: 96%;
        height: 101%;
        position: absolute;
        bottom: -1%;
        display: inline-block;
        transform: rotate(6deg);
        right: -47%;
      }
      .lettuce .trunkhalf:nth-child(2) span{
          background-color: #fffac6;
      }

      /* Extra Small Devices, Phones */
      @media only screen and (max-width : 600px) {
        .lettuce{
          width: 160px;
          height: 244px;
          left: 98px;
        }
        .lettuce.closed{
          top: 200px;
        }
        .lettuce.open{
          top: 335px !important;
        }
      }
.egg{
  width: 325px;
  height: 215px;
  left:150px;
  position: absolute;
  border-radius: 47%;
  background-color: #fff;
  -webkit-box-shadow: inset 6px -7px 90px rgba(0,0,0,0.2), inset 0px 0px 6px rgba(0,0,0,0.2), -3px 4px 8px rgba(0,0,0,0.1), inset 8px -3px 5px rgba(255,255,255,0.3), inset -2px 0px 2px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 6px -7px 90px rgba(0,0,0,0.2), inset 0px 0px 6px rgba(0,0,0,0.2), -3px 4px 8px rgba(0,0,0,0.1), inset 8px -3px 5px rgba(255,255,255,0.3), inset -2px 0px 2px rgba(255,255,255,0.2);
  box-shadow: inset 6px -7px 90px rgba(0,0,0,0.2), inset 0px 0px 6px rgba(0,0,0,0.2), -3px 4px 8px rgba(0,0,0,0.1), inset 8px -3px 5px rgba(255,255,255,0.3), inset -2px 0px 2px rgba(255,255,255,0.2);
  z-index: 800;
  -webkit-transform: rotatex(47deg) rotateY(5deg) rotate(0deg);
  -moz-transform: rotatex(47deg) rotateY(5deg) rotate(0deg);
  transform: rotatex(47deg) rotateY(5deg) rotate(0deg);
}
.egg.open{
  top:155px !important;
}
.egg.closed{
  top:155px;
}
.egg .yellowslice{
  background: #fad63b;
  position: absolute;
  top: 13%;
  right: 16%;
  width: 25%;
  height: 48%;
  border-radius: 47%;
  -webkit-box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -20px 10px #faac3b;
  -moz-box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -20px 10px #faac3b;
  box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 0px -20px 10px #faac3b;
  z-index: 100;
  border: 2px solid #faac3b;
}
.egg .yellow{
  width: 96%;
  height: 156%;
  position: absolute;
  top: -36%;
  left: 1%;
  border-radius: 100%;
  background: radial-gradient(circle at 50% 0%, #FFEEA7, #FAAC3B);
  -webkit-transform: rotateX(58deg);
  -moz-transform: rotateX(58deg);
  transform: rotateX(58deg);
  border: 1px solid #faac3b;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
  .egg {
    width: 235px;
    height: 158px;
    left: 65px;
  }
  .egg.closed{
    top: 115px;
  }
  .egg.open{
    top:90px !important;
  }
}
.cheese{
  background: linear-gradient(#f3df00, #fac539);
  width: 300px;
  height: 300px;
  left: 150px;
  position: absolute;
  box-shadow: inset -1px -1px 7px rgba(0,0,0,0.2), inset 20px -26px 26px #e38e1e;
  border-radius: 5%/30%;
  -ms-transform: rotate(-15deg) rotateY(25deg) rotateX(60deg);
  -webkit-transform: rotate(-15deg) rotateY(25deg) rotateX(60deg);
  transform: rotate(-15deg) rotateY(25deg) rotateX(60deg);
  z-index: 500;
}
.cheese.open{
  top: 230px !important;
}
.cheese.closed{
  top: 168px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
  .cheese{
    width: 200px;
    height: 205px;
    left: 84px;
  }
  .cheese.open{
    top: 215px !important;
  }
  .cheese.closed{
    top: 150px;
  }
}
#signature{
	font-family: monospace;
	font-size: 18px;
    text-align: right;
	color: #000;
	font-weight: normal;
}
#signature a{
	text-decoration: none;
	color: rgb(37,33,142);
	font-weight: bold;
}
#signature a:hover{
	text-decoration: underline;
}

.thankyouMessage {
    background-color: #1C1E1E;
    /*opacity: .9;*/
}
