@font-face {
   font-family: thunder;
   src: url(/css/a_love_of_thunder.ttf);
}

body, html {
    background-color: black;
    /*background-image: url("/getgrillz_images/brick-wall.png");*/
    height: auto;
}

h1{

  font-family: thunder;
}

h2{

  font-family: thunder;
}

h3{

  font-family: thunder;
}

h4{

  font-family: thunder;
}

h5{

  font-family: thunder;
}

a:active {
    text-decoration: none;
    color: #CA6924;
}

/*////////////////////////////////////////////////////////FOR NAVBAR*/
    .navBarRow {
        background-color: #CA6924;
    }

    .navBarContainer {
        padding: 0;
        bottom: 0;
    }

    .navbarLogo {
        width:auto;
        height:68px;
    }

    .getGrillz {
        margin-left: 5px;
    }

    .noTextDecoration:hover {
        text-decoration: none;
        color: #1C1E1E;
    }

    .coloredAnchorTag {
        color: #FFF5EE;
    }

    .navBarStuff {
        padding-right: 20px;
    }

    .navBarListItems {
        padding-right: 20px;
    }

    #login {
        color: #FFF5EE;
    }

    #login:hover {
        cursor: pointer;
        color: #FFF5EE;
        color: #1C1E1E;
    }

    .loginModal {
        text-align: left;
    }

    .modal-header {
        background-color: #CA6924;
    }

/*////////////////////////////////////////////////////////FOR FOOTER*/
    .footerContainer > span {
        padding-top: 2vh;
    }

    .footer {
        background-color: #FFF5EE;
        text-align: center;
        /*width: 100%;
        height: auto;*/
    }

    .footerLinks {
        color: black;
    }

    .footerLinks:hover {
        color: #820000;
    }

/*////////////////////////////////////////////////////FOR HERO IMAGE*/
    .heroImg {
        width: 100%;
        height: auto;
    }

    .heroImgContainer {
        padding: 0;
        /*height: 720px;*/
        position:relative;
        text-align: center;
    }

    .heroImgContainer img {
        position:relative;
        z-index:0;
    }

    .overlay1 {
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        color: #F7F3E3;
        margin-top: 10%;
        width: 100%;
        font-size: 4em;
    }

    .overlay2 {
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        color: #F7F3E3;
        margin-top: 21%;
        width: 100%;
    }

/*//////////////////////////////////FOR BANNER IMAGES BELOW HERO IMG*/
    .bannerContainer {
        text-align: center;
        background-color: white;
    }

    .bannerHeader {
        margin-top: 0;
        margin-bottom: 2%;
    }

    .bannerImg1 {
        width: 50%;
        height: auto;
    }

    .bannerImg2 {
        width: 37%;
        height: auto;
        padding-bottom: 1%;
    }

    .bannerImg3 {
        width: 50%;
        height: auto;
    }

/*////////////////////////////////////////////FOR RENT OR BUY BANNER*/
    .rentOrBuyImg1 {
        width: 50%;
        height: auto;
        display: inline-block;
    }

    .rentOrBuyImg2 {
        width: 50%;
        height: auto;
        display: inline-block;
        float: right;
    }

    .rentButton {
        width: 300px;
        height: 50px;
        margin-top: 18%;
        margin-left: 20%;
        background-color: #CA6924;
        position: absolute;
        font-family: thunder;
    }

    .rentButton:hover {
        background-color: #C23B22
    }

    .buyButton {
        width: 300px;
        height: 53px;
        margin-top: 8%;
        margin-left: 20%;
        background-color: #CA6924;
        position: absolute;
        font-family: thunder;
    }

    .buyButton:hover {
        background-color: #C23B22;
    }

    /*Positions "Rent" text in the middle of the button*/
    body > div:nth-child(2) > div:nth-child(3) > figure:nth-child(1) > div > div > a {
        margin-top: -3%;
        text-decoration: none;
    }

    body > div:nth-child(2) > div:nth-child(3) > figure:nth-child(2) > div > div > a {
        margin-top: -2%;
        text-decoration: none;
    }

    .getStartedButton {
        width: 100%;
        height: 53px;
        margin-top: 10%;
        background-color: #CA6924;
        font-family: thunder;
        text-align: center;
    }

    figure.snip0014 {
      color: #fff;
      position: relative;
      float: left;
      overflow: hidden;
      min-width: 220px;
      max-width: 50%;
      max-height: auto;
      width: 100%;
      background: #000000;
      text-align: center;
    }
    figure.snip0014 * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    figure.snip0014 img {
      max-width: 100%;
      opacity: 1;
      width: 100%;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;
    }
    figure.snip0014 figcaption {
      font-size: 1.25em;
    }
    figure.snip0014 > div {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 3em 3em;
      width: 100%;
      height: 100%;
    }
    figure.snip0014 > div::before {
      position: absolute;
      top: 30px;
      right: 50%;
      bottom: 30px;
      left: 50%;
      border-left: 1px solid rgba(255, 255, 255, 0.8);
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      content: '';
      opacity: 0;
      background-color: #ffffff;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
    }
    figure.snip0014 h2,
    figure.snip0014 p,
    figure.snip0014 hr {
      margin: 0 0 5px;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
    }
    figure.snip0014 h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      text-transform: uppercase;
      -webkit-transform: translate3d(0%, 100%, 0);
      transform: translate3d(0%, 100%, 0);
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    figure.snip0014 h2 span {
      font-weight: 800;
    }
    figure.snip0014 p {
      font-weight: 200;
      font-size: 1.5em;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    figure.snip0014 a {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      color: #ffffff;
    }
    figure.snip0014:hover img {
      opacity: 0.35;
    }
    figure.snip0014:hover > div h2 {
      opacity: 1;
      -webkit-transform: translate3d(0%, 0%, 0);
      transform: translate3d(0%, 0%, 0);
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    figure.snip0014:hover > div p {
      opacity: 0.8;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
    }
    figure.snip0014:hover > div hr {
      opacity: 0.8;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
    }
    figure.snip0014:hover > div::before {
      background: rgba(255, 255, 255, 0);
      left: 30px;
      right: 30px;
      opacity: 1;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }

/*///////////////////////////////////////////////FOR YOUR ORDER PAGE*/
    .heroDiv {
        width: 100%;
        height: 100%;
        background-color: #cfcfc4;
        /*background-image: url("/getgrillz_images/brick-wall.png");*/
    }

    .rentA {
        font-size: 9.5em;
    }

    .grill {
        font-size: 15em;
        letter-spacing: 10px;
    }

    .rentDescription {
        text-align: center;
    }

    .rentDescriptionPicture {
        width: 90%;
        height: auto;
        margin-top: 6%;
    }

    .rentCaption {
        font-size: 2em;
        text-align: justify;
        margin-left: 30px;
        width: 535px;
    }

/*///////////FOR LOOKING FOR A SPECIFIC DAY OR JUST BROWSING SECTION*/
    .pickADate {
        width: 50%;
        height: 50vh;
        background-color: #1C1E1E;
        text-align: center;
        font-family: thunder;
    }

    .pickADateButton {
        width: 300px;
        height: 53px;
        background-color: #7B2D26;
        border-color: #1C1E1E;
        color: #F7F3E3;
        margin-top: 25%;
        font-family: thunder;
    }

    .justBrowsing {
        width: 50%;
        height: 50vh;
        background-color: #262B2F;
        text-align: center;
        font-family: thunder;
    }

    .justBrowsingButton {
        width: 300px;
        height: 53px;
        background-color: #7B2D26;
        border-color: #262B2F;
        color: #F7F3E3;
        margin-top: 25%;
        font-family: thunder;
    }

/*/////////////////////////////////////////FOR DROP CALENDER SECTION*/
    .calenderDiv {
        display: none;
        text-align: center;
    }

    .calender {
        width: 50%;
        height: 40vh;
        /*height: 120vh;*/
        background-color: #7B2D26;
        font-family: thunder;
    }

    .calender > h2 {
        color: #F7F3E3;
    }

    .selectingADay {
        border-right-style: solid;
    }

    .dateButton {
        width: 300px;
        height: 70px;
        background-color: #CA6924;
        margin-top: 15%;
        font-family: thunder;
    }

    .dateInputDiv {
        margin-top: 30px;
    }

    .dateInput {
        text-align: center;
    }

    .selectingADayDiv {
        display: none;
    }

    .selectingMultipleDiv {
        display: none;
    }

    .customCalenderButton {
        background-color: #CA6924;
        color: #FFF5EE;
    }

/*///////////////////////////////////////////FOR CHARCOAL OR PROPANE*/
    .whatTypeOfGrill {
        text-align: center;
        background-color: #D7C9AA;
    }

    .charcoalDiv {
        width: 50%;
        height: 50vh;
        background-color: #D7C9AA;
        text-align: center;
    }

    .charcoalButton {
        width: 500px;
        height: 70px;
        background-color: #CA6924;
        margin-top: 25%;
        font-family: thunder;
    }

    .charcoalText {
        margin-top: 4%;
    }

    .propaneDiv {
        width: 50%;
        height: 50vh;
        background-color: #D7C9AA;
        text-align: center;
    }

    .propaneButton {
        width: 500px;
        height: 70px;
        background-color: #CA6924;
        margin-top: 25%;
        font-family: thunder;
    }

    .propaneText {
        margin-top: 4%;
    }

/*/////////////////////////////////////////FOR SIZE OF GRILL SECTION*/
    .whatSizeOfGrill {
        text-align: center;
        background-color: #3bbad7;
    }

    .sizeButtonDiv {
        height: 50vh;
        background-color: #1C1E1E;
        color: #F7F3E3;
        text-align: center;
    }

    .sizeButton {
        width: 300px;
        height: 70px;
        background-color: #CA6924;
        margin-top: 15%;
        font-family: thunder;
    }

    .sizeButtonText {
        margin-top: 8%;
    }

    .imNotSureButton {
        width: 800px;
        background-color: #CA6924;
        margin-top: 5%;
        font-family: thunder;
    }

/*////////////////////////////////////////////////////FOR ITEMS PAGE*/
    .coloredText {
        color: #FFF5EE;
    }

/*/////////////////////////////////////////////////FOR CHECKOUT PAGE*/
    .forgettingSomething {
        text-align: center;
        background-color: #1C1E1E;
        color: #fff5ee;
    }

    .quantityField {
        text-align: center;
    }

    /*////////////////////////////////////////////FOR GRILL SUPPLIES*/
        .grillSupplies {
            width: 50%;
            height: 30vh;
            background-color: #1C1E1E;
            text-align: center;
        }

        .grillSuppliesText {
            margin-top: 4%;
        }

        .grillSuppliesButton {
            width: 500px;
            height: 70px;
            background-color: #CA6924;
            margin-top: 10%;
        }

        .grillSuppliesChecklist {
            width: 100%;
            height: 72vh;
            background-color: #7B2D26;
            color: #F7F3E3;
            display: none;
        }

        .grillSuppliesCheckboxes {
            text-align: center;
        }

    /*////////////////////////////////////////////FOR PARTY SUPPLIES*/
        .partySupplies {
            width: 50%;
            height: 30vh;
            background-color: #1C1E1E;
            text-align: center;
        }

        .partySuppliesText {
            margin-top: 4%;
        }

        .partySuppliesButton {
            width: 500px;
            height: 70px;
            background-color: #CA6924;
            margin-top: 10%;
        }

        .partySuppliesChecklist {
            width: 100%;
            height: 72vh;
            background-color: #262B2F;
            color: #F7F3E3;
            display: none;
        }


        .partySuppliesCheckboxes {
            text-align: center;
        }

        /*///////////FOR PARTY/GRILL SUPPLIES AND YOUR ORDER PREVIEW*/
        .addToOrderButtonDiv {
            text-align: center;
        }

        .addToOrderButton {
            width: 800px;
            background-color: #CA6924;
            margin-top: 2%;
        }

        .tableHeader {
            border-top-style: solid;
            border-bottom-style: solid;
            border-color: black;
        }

        .headerPadding {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        /*////////////////////////////////////FOR YOUR ORDER PREVIEW*/
        .yourOrderDiv {
            width: 100%;
            height: 65vh;
            background-color: #D7C9AA;
        }

        .yourOrderCheckboxes {
            text-align: center;
        }

        .orderTotal {
            border-top-style: solid;
            text-align: right;
        }

        .yourOrderButtonContainer {
            text-align: center;
        }

        .updateCartButton {
            width: 500px;
            background-color: #CA6924;
            margin-top: 2%;
        }

        .checkoutButton {
            width: 500px;
            background-color: #CA6924;
            margin-top: 2%;
        }
/*////////////////////////////////////////////FOR CONFIRM ORDER PAGE*/
    .takeMeBackDiv {
        width: 100%;
        height: 15vh;
        background-color: #1C1E1E;
        text-align: center;
    }

    .takeMeBackButton {
        margin-top: 25px;
        width: 80%;
    }

    .takeMeBackButtonText {
        color: black;
    }

    .loginOrRegisterDiv {
        width: 100%;
        height: 10vh;
        background-color: #D7C9AA;
    }

    .loginOrRegister {
        text-align: center;
    }

    .enterEmailDiv {
        width: 100%;
        height: 42vh;
        background-color: #D7C9AA;
        padding-left: 20%;
    }

    .continueButton {
        width: 60%;
        margin-left: 20%;
    }

    .password {
        display: none;
    }

    .confirmPassword {
        display: none;
    }

    .addressDiv {
        width: 100%;
        height: 10vh;
        background-color: #7B2D26;
        color: #F7F3E3;
    }

    .whereDeliver {
        text-align: center;
        border-top-style: solid;
        padding-top: 10px;
    }

    .selectAddressDiv {
        text-align: center;
        border-right-style: solid;
        border-bottom-style: solid;
        background-color: #7B2D26;
        color: #F7F3E3;
    }

    .enterAddressDiv {
        text-align: center;
        border-bottom-style: solid;
        background-color: #7B2D26;
        color: #F7F3E3;
    }

    .mapDiv {
        width: 50%;
        height: 82vh;
        border-right-style: solid;
        background-color: #7B2D26;
        color: #F7F3E3;
    }

    .map {
        margin-top: 20px;
        height: 500px;
        width: 100%;
        background-color: #262B2F;
    }

    .addressFieldsDiv {
        width: 50%;
        height: 82vh;
        background-color: #7B2D26;
        color: #F7F3E3;
    }

    .zipInput {
        width: 20%;
    }

    .stateInput {
        width: 8%;
    }

    .showOnMapButton {
        width: 100%;
        background-color: #262B2F;
        color: #F7F3E3;
        border-color: transparent;
    }

    .chevron-down {
        float: right;
        font-size: 3em;
        position: absolute;
        bottom: 0;
    }

    .yourOrderConfirmDiv {
        width: 100%;
        height: 65vh;
        background-color: #D7C9AA;
    }

/*///////////////////////////////////////////////////////FOR PAYMENT*/
    .modal-body-colored {

    }

    @media screen and (min-width: 981px) {
    html {
    font-size: 10px;
    }
    }
    @media screen and (min-width: 641px) and (max-width: 980px) {
    html {
    font-size: 8px;
    }
    }
    @media screen and (max-width: 640px) {
    html {
    font-size: 7px;
    }
    }
    .demo {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .demo__button {
    width: 200px;
    display: block;
    margin: 20px auto 0;
    background-color: #eee;
    transition: background-color 0.4s ease-out;
    border: 1px solid #a29e97;
    cursor: pointer;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #000;
    }
    .demo__button:hover,
    .demo__button:focus {
    background-color: #a29e97;
    color: #ffffff;
    }
    .melnik909 {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    }
    .melnik909:hover,
    .melnik909:focus {
    text-decoration: underline;
    }
    /*
    * CSS Payment Card
    */
    .payment-card {
    width: 60rem;
    box-sizing: border-box;
    padding: 2% 2% 4%;
    }
    .bank-card {
    position: relative;
    height: 30rem;
    font-family: arial, sans-serif;
    }
    .bank-card__side {
    width: 65%;
    position: absolute;
    border-radius: 10px;
    border-width: 0.16666667rem;
    border-style: solid;
    }
    .bank-card__front {
    background-color: #f0f0ee;
    padding: 5%;
    box-shadow: 0 0 10px #f4f4f2;
    border-color: #a29e97;
    top: 0;
    left: 0;
    z-index: 2;
    }
    .bank-card__back {
    background-color: #e0ddd7;
    padding: 24.5% 5% 11%;
    box-shadow: 0 0 2rem #f3f3f3;
    text-align: right;
    border-color: #dad9d6;
    top: 12%;
    right: 0;
    }
    .bank-card__back:before {
    content: "";
    width: 100%;
    height: 25%;
    background-color: #8e8b85;
    position: absolute;
    top: 14%;
    right: 0;
    }
    .bank-card__icon {
    display: block;
    width: 12%;
    height: 12%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15%;
    }
    .bank-card__icon_mastercard {
    background-image: url("/getgrillz_images/mastercard.svg");
    right: 15%;
    }
    .bank-card__icon_visa {
    background-image: url("/getgrillz_images/visa.svg");
    right: 5%;
    }
    .bank-card__inner {
    margin-bottom: 4%;
    }
    .bank-card__inner:last-child {
    margin-bottom: 0;
    }
    .bank-card__label {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    }
    .bank-card__label_fullwidth {
    width: 100%;
    }
    .bank-card__hint {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    }
    .bank-card__caption {
    text-transform: uppercase;
    font-size: 1.09090909rem;
    margin-left: 1%;
    }
    .bank-card__field {
    box-sizing: border-box;
    border: 0.33333333rem solid #d0d0ce;
    outline: none;
    width: 100%;
    padding: .7em;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
    }
    .bank-card__field:focus {
    border-color: #fdde60;
    }
    @media screen and (max-width: 640px) {
    .bank-card__field {
    font-size: 1.2rem;
    }
    }
    .bank-card__separator {
    font-size: 3.33333333rem;
    color: #c4c4c3;
    padding-left: 4%;
    padding-right: 4%;
    display: inline-block;
    vertical-align: middle;
    }

/*FOR YOUR ORDERS*/
    .yourOrdersDiv {
        width: 100%;
        height: 100vh;
        background-color: #FFF5EE;
    }

    .yourOrdersText {
        border-bottom-style: solid;
    }

    .yourOrdersh1 {
    }

    .yourOrdersTableHeader {
        /*border-bottom-style: solid;
        border-color: #333333;*/
    }

    .yourOrdersTable {
        background-color: #FFF5EE;
        padding: 0;
    }

    .centeredTableText {
        text-align: center;
    }

    tr > td {
        text-align: center;
    }

/*FOR FAQ/CONTACT PAGE*/
    .faqContainer {
        background-color: #FFF5EE;
        height: 110vh;
    }

    .faqHeader {
        border-bottom-style: solid;
    }

    .faqQuestion {
        background-color: #CA6924;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .faqAnswer {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
    }

    #faqAnswer1 {
        display: none;
    }

    #faqAnswer2 {
        display: none;
    }

    #faqAnswer3 {
        display: none;
    }

    #faqAnswer4 {
        display: none;
    }
