@font-face {
   font-family: thunder;
   src: url(/css/a_love_of_thunder.ttf);
}

body, html {
    /* background-color: black; */
    height: auto;

}

h1{

  font-family: thunder;
}

h2{

  font-family: thunder;
}

h3{

  font-family: thunder;
}

h4{

  font-family: thunder;
}

h5{

  font-family: thunder;
}

/*////////////////////////////////////////////////////////FOR NAVBAR*/
    .customNavbar {
        padding: 0;
        margin: 0;
    }

    .navbarLogo {
        height: 65px;
        width: auto;

    }

    body > div:nth-child(1) > div > div.col-xs-1.col-sm-1.col-md-1.col-lg-5 > a > h2 {
        font-size: 3em;
        padding-left: 5px;
        font-family: thunder;
    }

    .navbarFAQ {
        font-size: 2em;
        padding-top: 8px;
        font-family: thunder;
    }

    .hamburgerIcon {
        display: none;
        padding: 0;
    }

    .hamburgerIconButton {
        margin: 0;
        padding: 0;
    }

    #bs-example-navbar-collapse-1 > ul > li > a {
        display: none;
    }

    @media screen and (max-width: 600px) {
        body > div:nth-child(1) > div > div.col-xs-6.col-sm-6.col-md-6.col-lg-6.navbarFAQ > a > h2 {
            display: none;
        }
        .hamburgerIcon {
            display: block;
            float: right;
        }
        #bs-example-navbar-collapse-1 > ul > li > a {
            display: block;
            font-size: 1em;
            color: white;
            text-decoration: none;
        }

        #bs-example-navbar-collapse-1 > ul > li > a:hover {
            background-color: transparent;
            color: #820000;
        }

    }

    .navbar-default .navbar-nav>li>a {
        color: black;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #820000;
    }

    .customNavbar2 {
        background-color: white;
        height: 65px;
    }

    .navbarLogo2 {
        padding: 0;
        width: 90px;
    }

    a > h2 {
        margin: 0;
        padding-top: 1rem;
        color: black;
        font-family: thunder;
    }

    a > h2:hover {
        color: #820000;
        font-family: thunder;
    }

    body > div:nth-child(1) > div > div.col-lg-5 > a {
        text-decoration: none;
    }

    body > div:nth-child(1) > div > div.col-lg-6.navbarFAQ > a {
        text-decoration: none;
    }

    .navbarFAQ {
        float: right;
        text-align: right;
    }

/*////////////////////////////////////////////////////////FOR FOOTER*/
    .footerContainer > span {
        padding-top: 2vh;
    }

    .footer {
        background-color: white;
        text-align: center;
        /*width: 100%;
        height: auto;*/
    }

    .footerLinks {
        color: black;
    }

    .footerLinks:hover {
        color: #820000;
    }

/*////////////////////////////////////////////////////FOR HERO IMAGE*/
    .heroImg {
        width: 100%;
        height: auto;
    }

    .heroImgContainer {
        padding: 0;
    }

/*//////////////////////////////////FOR BANNER IMAGES BELOW HERO IMG*/
    .bannerContainer {
        text-align: center;
        background-color: white;
    }

    .bannerHeader {
        margin-top: 0;
        margin-bottom: 2%;
    }

    .bannerImg1 {
        width: 50%;
        height: auto;
    }

    .bannerImg2 {
        width: 37%;
        height: auto;
        padding-bottom: 1%;
    }

    .bannerImg3 {
        width: 50%;
        height: auto;
    }

/*////////////////////////////////////////////FOR RENT OR BUY BANNER*/
    .rentOrBuyImg1 {
        width: 50%;
        height: auto;
        display: inline-block;
    }

    .rentOrBuyImg2 {
        width: 50%;
        height: auto;
        display: inline-block;
        float: right;
    }

    .rentButton {
        width: 300px;
        height: 50px;
        margin-top: 18%;
        margin-left: 20%;
        background-color: orange;
        position: absolute;
        font-family: thunder;
    }

    .rentButton:hover {
        background-color: #3BBAD7;
    }

    .buyButton {
        width: 300px;
        height: 53px;
        margin-top: 8%;
        margin-left: 20%;
        background-color: orange;
        position: absolute;
        font-family: thunder;
    }

    .buyButton:hover {
        background-color: #3BBAD7;
    }

    /*Positions "Rent" text in the middle of the button*/
    body > div:nth-child(2) > div:nth-child(3) > figure:nth-child(1) > div > div > a {
        margin-top: -3%;
        text-decoration: none;
    }

    body > div:nth-child(2) > div:nth-child(3) > figure:nth-child(2) > div > div > a {
        margin-top: -2%;
        text-decoration: none;
    }

    .rentorBuyDivs {

    }

    figure.snip0014 {
      color: #fff;
      position: relative;
      float: left;
      overflow: hidden;
      min-width: 220px;
      max-width: 50%;
      max-height: auto;
      width: 100%;
      background: #000000;
      text-align: center;
    }
    figure.snip0014 * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    figure.snip0014 img {
      max-width: 100%;
      opacity: 1;
      width: 100%;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;
    }
    figure.snip0014 figcaption {
      font-size: 1.25em;
    }
    figure.snip0014 > div {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 3em 3em;
      width: 100%;
      height: 100%;
    }
    figure.snip0014 > div::before {
      position: absolute;
      top: 30px;
      right: 50%;
      bottom: 30px;
      left: 50%;
      border-left: 1px solid rgba(255, 255, 255, 0.8);
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      content: '';
      opacity: 0;
      background-color: #ffffff;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
    }
    figure.snip0014 h2,
    figure.snip0014 p,
    figure.snip0014 hr {
      margin: 0 0 5px;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
    }
    figure.snip0014 h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      text-transform: uppercase;
      -webkit-transform: translate3d(0%, 100%, 0);
      transform: translate3d(0%, 100%, 0);
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    figure.snip0014 h2 span {
      font-weight: 800;
    }
    figure.snip0014 p {
      font-weight: 200;
      font-size: 1.5em;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    figure.snip0014 a {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      color: #ffffff;
    }
    figure.snip0014:hover img {
      opacity: 0.35;
    }
    figure.snip0014:hover > div h2 {
      opacity: 1;
      -webkit-transform: translate3d(0%, 0%, 0);
      transform: translate3d(0%, 0%, 0);
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    figure.snip0014:hover > div p {
      opacity: 0.8;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
    }
    figure.snip0014:hover > div hr {
      opacity: 0.8;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
    }
    figure.snip0014:hover > div::before {
      background: rgba(255, 255, 255, 0);
      left: 30px;
      right: 30px;
      opacity: 1;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }

/*///////////////////////////////////////////////FOR YOUR ORDER PAGE*/
    .heroDiv {
        width: 100%;
        height: 100%;
        background-color: #3bbad7;
    }

    .rentA {
        font-size: 9.5em;
    }

    .grill {
        font-size: 15em;
        letter-spacing: 10px;
    }

    .rentDescription {
        text-align: center;
    }

    .rentDescriptionPicture {
        width: 90%;
        height: auto;
        margin-top: 6%;
    }

    .rentCaption {
        font-size: 2em;
        text-align: justify;
        margin-left: 30px;
        width: 535px;
    }

/*///////////FOR LOOKING FOR A SPECIFIC DAY OR JUST BROWSING SECTION*/
    .pickADate {
        width: 50%;
        height: 50vh;
        background-color: orange;
        text-align: center;
        font-family: thunder;
    }

    .pickADateButton {
        width: 300px;
        height: 53px;
        background-color: #3bbad7;
        margin-top: 25%;
        font-family: thunder;
    }

    .justBrowsing {
        width: 50%;
        height: 50vh;
        background-color: #65D1AE;
        text-align: center;
        font-family: thunder;
    }

    .justBrowsingButton {
        width: 300px;
        height: 53px;
        background-color: #3bbad7;
        margin-top: 25%;
        font-family: thunder;
    }

/*/////////////////////////////////////////FOR DROP CALENDER SECTION*/
    .calenderDiv {
        display: none;
    }

    .calender {
        width: 50%;
        height: 70vh;
        /*height: 120vh;*/
        background-color: #ff6961;
        font-family: thunder;
    }

    button {
      font-size: 14px;
      font-weight: 300;
      font-family: thunder;
    }


    td {
      height:34px;
      width:38px;
    }

    body .calander {
      height: 300px;
      width: 280px;
      margin:20px auto;

    }

    body .cal_head {
      font-size: 20px;
      background-color:#2196f3;
      color:#FFFFFF;
      font-weight:400;
      height: 80px;
      text-align: center;
    }

    .cal_head span, .button_right,
    .button_left{

      background-color: white;
      border: none;
      background-color:#2196f3;
      color:#ffffff;
      display: inline-block;
      margin-top: 25px;
      text-align: center;



    }

    .button_right
    {
      float:right;
    }

    body .cal_head .button_left
    {
      float:left;
    }

    body .cal_body {
      //padding: 5px 5px 5px 5px;
      height: 265px;
      text-align: center;
    }

    body .cal_body .button {
      background-color: white;
      /* Green */
      border: none;
      color: black;
      display: inline-block;
      text-align: center;
    }



    body .cal_output {
      margin-top: 15px;
      margin-bottom: 25px;
      padding-top:5px;
      height: 25px;
      text-align: center;
      color:#000000;
    }

    .circle {
        border-radius: 50%;

        overflow:visible;
        width: 36px;
        height: 36px;



        background: #fff;
        border: 1px solid #666;
        text-align: center;


    }


    .paper-shadow-top-z-1 {
        box-shadow: 0 2px 10px 0 rgba(0,0,0,.16)
    }
    .paper-shadow-bottom-z-1 {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
    }
    .paper-shadow-top-z-2 {
        box-shadow: 0 6px 20px 0 rgba(0,0,0,.19)
    }
    .paper-shadow-bottom-z-2 {
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)
    }
    .paper-shadow-top-z-3 {
        box-shadow: 0 17px 50px 0 rgba(0,0,0,.19)
    }
    .paper-shadow-bottom-z-3 {
        box-shadow: 0 12px 15px 0 rgba(0,0,0,.24)
    }
    .paper-shadow-top-z-4 {
        box-shadow: 0 25px 55px 0 rgba(0,0,0,.21)
    }
    .paper-shadow-bottom-z-4 {
        box-shadow: 0 16px 28px 0 rgba(0,0,0,.22)
    }
    .paper-shadow-top-z-5 {
        box-shadow: 0 40px 77px 0 rgba(0,0,0,.22)
    }
    .paper-shadow-bottom-z-5 {
        box-shadow: 0 27px 24px 0 rgba(0,0,0,.2)
    }


    .noselect {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
      -khtml-user-select: none;    /* Konqueror */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* Internet Explorer/Edge */
      user-select: none;           /* Non-prefixed version, currently
                                      not supported by any browser */
    }

    body > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div > div.cal_body.paper-shadow-bottom-z-1,
    body > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > div > div.cal_body.paper-shadow-bottom-z-1,
    #calenderDiv > div:nth-child(1) > div > div.cal_output.paper-shadow-top-z-1,
    #calenderDiv > div:nth-child(2) > div > div.cal_output.paper-shadow-top-z-1 {
        background-color: white;
    }

/*///////////////////////////////////////////FOR CHARCOAL OR PROPANE*/
    .whatTypeOfGrill {
        text-align: center;
        background-color: #3bbad7;
    }

    .charcoalDiv {
        width: 50%;
        height: 50vh;
        background-color: #3bbad7;
        text-align: center;
    }

    .charcoalButton {
        width: 500px;
        height: 70px;
        background-color: orange;
        margin-top: 25%;
        font-family: thunder;
    }

    .charcoalText {
        margin-top: 4%;
    }

    .propaneDiv {
        width: 50%;
        height: 50vh;
        background-color: #3bbad7;
        text-align: center;
    }

    .propaneButton {
        width: 500px;
        height: 70px;
        background-color: orange;
        margin-top: 25%;
        font-family: thunder;
    }

    .propaneText {
        margin-top: 4%;
    }

/*/////////////////////////////////////////FOR SIZE OF GRILL SECTION*/
    .whatSizeOfGrill {
        text-align: center;
        background-color: #3bbad7;
    }

    .sizeButtonDiv {
        height: 50vh;
        background-color: #ff6961;
        text-align: center;
    }

    .sizeButton {
        width: 300px;
        height: 70px;
        background-color: orange;
        margin-top: 15%;
        font-family: thunder;
    }

    .sizeButtonText {
        margin-top: 8%;
    }

    .imNotSureButton {
        width: 800px;
        background-color: orange;
        margin-top: 5%;
        font-family: thunder;
    }

/*/////////////////////////////////////////////////FOR CHECKOUT PAGE*/
    .forgettingSomething {
        text-align: center;
        background-color: #65D1AE;
    }

    .quantityField {
        text-align: center;
    }

    /*////////////////////////////////////////////FOR GRILL SUPPLIES*/

        .grillSupplies {
            width: 50%;
            height: 30vh;
            background-color: #65D1AE;
            text-align: center;
        }

        .grillSuppliesText {
            margin-top: 4%;
        }

        .grillSuppliesButton {
            width: 500px;
            height: 70px;
            background-color: orange;
            margin-top: 10%;
        }

        .partySupplies {
            width: 50%;
            height: 30vh;
            background-color: #65D1AE;
            text-align: center;
        }

        .grillSuppliesChecklist {
            width: 100%;
            height: 68vh;
            background-color: #fff5ee;
            display: none;
        }

        .grillSuppliesCheckboxes {
            text-align: center;
        }

    /*////////////////////////////////////////////FOR PARTY SUPPLIES*/
        .partySuppliesText {
            margin-top: 4%;
        }

        .partySuppliesButton {
            width: 500px;
            height: 70px;
            background-color: orange;
            margin-top: 10%;
        }

        .partySuppliesChecklist {
            width: 100%;
            height: 68vh;
            background-color: #fff5ee;
            display: none;
        }


        .partySuppliesCheckboxes {
            text-align: center;
        }

        /*///////////FOR PARTY/GRILL SUPPLIES AND YOUR ORDER PREVIEW*/

        .addToOrderButtonDiv {
            text-align: center;
        }

        .addToOrderButton {
            width: 800px;
            background-color: orange;
            margin-top: 2%;
        }

        .tableHeader {
            border-top-style: solid;
            border-bottom-style: solid;
        }

        .headerPadding {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        /*////////////////////////////////////FOR YOUR ORDER PREVIEW*/

        .yourOrderDiv {
            width: 100%;
            height: 65vh;
            background-color: #CFCFC4;
        }

        .yourOrderCheckboxes {
            text-align: center;
        }

        .orderTotal {
            border-top-style: solid;
            text-align: right;
        }

        .yourOrderButtonContainer {
            text-align: center;
        }

        .updateCartButton {
            width: 500px;
            background-color: orange;
            margin-top: 2%;
        }

        .checkoutButton {
            width: 500px;
            background-color: orange;
            margin-top: 2%;
        }
